doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title JavaScript Calculator
  body
    section.calculator
      .display
        .current
        .log
      .buttons
        .keypad
          button(value='7') 7
          button(value='8') 8
          button(value='9') 9
          button(value='4') 4
          button(value='5') 5
          button(value='6') 6
          button(value='1') 1
          button(value='2') 2
          button(value='3') 3
          button(value='.') .
          button(value='0') 0
          button(value='=') =
        .functions
          button(value='c') C
          button(value='+') +
          button(value='-') -
          button(value='*') *
          button(value='/') /
