-
  var Projects = [
    {
      name: 'Personal Portfolio',
      slug: 'personal-portfolio'
    }, {
      name: 'Local Weather',
      slug: 'local-weather'
    }, {
      name: 'Random Quote Machine',
      slug: 'random-quote-machine'
    }, {
      name: 'Wikipedia Viewer',
      slug: 'wikipedia-viewer'
    }, {
      name: 'Twitch.tv Tracker',
      slug: 'twitch-tv'
    }
  ]
  
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width initial-scale=1')
    title freeCodeCamp Front End Development Projects - MunifTanjim
  body
    ul
      each project in Projects
        li
          a(href=project.slug, target='_blank')= project.name
    footer Munif Tanjim
